# Hello world test

In [73]:
import urllib
import pandas as pd
import numpy as np
import pyodbc
import sqlalchemy as sql
import time

driver = '{ODBC Driver 17 for SQL Server}'
server = 'sql-fabulous' 
database = 'ScratchDB' 
username = 'sa' 
password = 'HelloWorld1'
cnxn_str = 'DRIVER={0};SERVER={1};DATABASE={2};UID={3};PWD={4}'.format(
    driver, server, database, username, password
)

# Pandas/SqlAlchemy
params = urllib.parse.quote_plus(cnxn_str) # must url-escape delimiters
hero_engine = sql.create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

# Load dataset 1 into data frame 
ds1 = """
SELECT  ID AS DSId
        , API
        , WKID
FROM    dbo.DirectionalSurvey WITH (READUNCOMMITTED);
"""
df1 = pd.read_sql(ds1, hero_engine)

print(f"DF1: {list(df1.index)}")
print(f"DF1: {df1[df1.DSId > 0]}")
df1

DF1: [0, 1, 2]
DF1:    DSId   API   WKID
0     1  API1  WKID1
1     2  API2  WKID2
2     3  API3  WKID3

   DSId   API   WKID
0     1  API1  WKID1
1     2  API2  WKID2
2     3  API3  WKID3

In [111]:
@np.vectorize
def my_func(x, y):
    return (1, 2, 3)

In [112]:
df2 = df1.copy()
df3 = pd.DataFrame(my_func(df2.API, df2.WKID))
df3

   0  1  2
0  1  1  1
1  2  2  2
2  3  3  3

In [113]:
df4 = df3.T
df4.columns = ['DSId2', 'API2', 'WKID2']
df4

   DSId2  API2  WKID2
0      1     2      3
1      1     2      3
2      1     2      3

In [114]:
col_concat = pd.concat(
                [df1, df4]
                , ignore_index=False
                , axis='columns'
            )
col_concat

   DSId   API   WKID  DSId2  API2  WKID2
0     1  API1  WKID1      1     2      3
1     2  API2  WKID2      1     2      3
2     3  API3  WKID3      1     2      3