In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn as sk

# TODO
- Join with 04-df-normalize

In [2]:
person = pd.read_csv('./data/survey_person.csv')
site = pd.read_csv('./data/survey_site.csv')
survey = pd.read_csv('./data/survey_survey.csv')
visited = pd.read_csv('./data/survey_visited.csv')

In [27]:
# Join visited to site for lat/lon
v2s = visited.merge(
            right=site
            , how='left'
            , left_on=['site']
            , right_on=['name']
            , indicator=True
        )

assert (visited.shape[0] == v2s.shape[0]
      and v2s[v2s._merge != 'both'].shape[0] == 0)
visited2site.head(5)

   ident  site       dated  name    lat    long _merge
0    619  DR-1  1927-02-08  DR-1 -49.85 -128.57   both
1    622  DR-1  1927-02-10  DR-1 -49.85 -128.57   both
2    734  DR-3  1939-01-07  DR-3 -47.15 -126.72   both
3    735  DR-3  1930-01-12  DR-3 -47.15 -126.72   both
4    751  DR-3  1930-02-26  DR-3 -47.15 -126.72   both